<h1> {{ recruit }} </h1>
{% for answer in answer_list %}
    <div> {{ answer.question_text }}: {{ answer.answer_text }} <div>
{% endfor %}
<a href="/recruits_list/{{ sith_id }}/recruit_profile/{{ recruit_id }}/add">Add recruit</a>
