<h1>Please take the test</h1>
<body>
<form method="post">
    <table>
        {% csrf_token %}
        {{ answer_list.management_form }}
        {{ answer_list }}
    </table>
    <input type="submit" value="Submit">
</form>
</body>
